aiohttp
aiosignal
altair
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
frozenlist
gitdb
GitPython
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith==0.1.88
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
mysql-connector-python
numpy
orjson
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
six
smmap
SQLAlchemy
streamlit
tenacity
toml
toolz
tornado
typing-inspect
typing_extensions
tzdata
urllib3
yarl
groq
